<!doctype html>
<html>
  <head>
    <link href="https://fonts.cdnfonts.com/css/public-pixel" rel="stylesheet">
    <title>Add Task</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <script src="/script.js"></script>
  </head>
  <body>
    <header>
      <div class="menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="addtasks">Add Tasks</a></li>
          <li><a href="viewtasks">View Tasks</a></li>
          <li><a href="focus">Focus</a></li>
          <li><a href="notes">Quick Notes</a></li>
          <li><a href="logout">Logout</a></li>
      </ul>
      </div>
    </header>
    <h1>Add Task</h1>
    <form method="POST" action="/addedtask">
        <p>Task Name: <input id="taskName" type="text" name="taskName"/></p>
        <p>
          <div class="courseButtonContainer">
          <button type="button" id="courseButton" onclick="showCourseSelection()">Select Existing Course</button>
          <button type="button" id="courseButton" onclick="showNewCourseInput()">Add New Course</button>
          </div>
        </p>

        <div id="existingCourseSelect" style="display: none;">
          Course: 
          <select id="courseSelect" name="courseSelect">
              <% if (courses.length > 0) { %>
                  <% courses.forEach(function(course) { %>
                      <option value="<%= course.course_name %>"><%= course.course_name %></option>
                  <% }); %>
              <% } %>
          </select>
        </div>

        <div id="newCourseInput" style="display: none;">
          New Course: <input type="text" name="newCourseName"/>
        </div>
      
        <p>Due Date: <input id="dueDate" type="date" name="dueDate"/></p>
        <p>Duration (minutes): <input id="duration" type="number" name="durationMinutes" min="0"/></p>
        <p>Priority: 
           <select id="priority" name="priority">
               <option value="low">Low</option>
               <option value="medium">Medium</option>
               <option value="high">High</option>
           </select>
        </p>
        <p>Status: 
           <select id="status" name="status">
               <option value="pending">Pending</option>
               <option value="completed">Completed</option>
               <option value="overdue">Overdue</option>
           </select>
        </p>
        <input type="submit" value="Add Task" />
    </form>
  </body>
</html>
