<!doctype html>
<html>
  <head>
    <title>Welcome to <%=name%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=name%></h1>
    <p><a href="about">About <%=name%></a></p>
    <p><a href="addtasks">Add Tasks</a></p>
    <p><a href="viewtasks">View Tasks</a></p>
    <p><a href="register"> Register</a></p>
    <p><a href="login" >Login</a></p>
  </body>
</html>
