<!DOCTYPE html>
<html>
    <head>
        <title>Login for <%=name%></title>
        <link rel="stylesheet"  type="text/css" href="/main.css" />
    </head>
    <body>
        <header>
            <div class="menu">
                <li><a href="/">Home</a></li>
              <li><a href="register">Register</a></li>
              <li><a href="login">Login</a></li>
          </div>
          </header>
        <h1>Login for <%=name%></h1>
        <form method="POST" action="/loggedin">
            <p id="login_parameter">Username: <input id="username" type="text" name="username"/></p>
            <p id="login_parameter">Password: <input id="password" type="password" name="password"/></p>
            <input type="submit" value="Login" />
        </form>
    </body>
</html>