<!DOCTYPE html>
<head>
    <title>Focus Mode</title>
    <link href="https://fonts.cdnfonts.com/css/public-pixel" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/main.css" />
    <script src="/script.js"></script>
</head>
<body>
    <header>
        <nav class="menu">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="addtasks">Add Tasks</a></li>
            <li><a href="viewtasks">View Tasks</a></li>
            <li><a href="focus">Focus</a></li>
            <li><a href="notes">Quick Notes</a></li>
            <li><a href="logout">Logout</a></li>
          </ul>
        </nav>
      </header>
    <div class="pomo-container">
        <h1>Pomodoro Timer</h1>
        <div id="timerDisplay">25:00</div>
        <button id="startStopBtn">Start</button>
        <button id="resetBtn">Reset</button>
        <p>Sessions Completed: <span id="sessionCount">0</span></p>
    </div>

</body>
</html>