*::-webkit-scrollbar {
    display: none;
  }

a:visited, a:link, a:active {
    text-decoration: none;
    color: rgb(206,214,243);
}
a:hover {
    color: rgb(145,252,220);
}
body {
    background-color: #222;
    color: rgb(206,214,243);
    font-family: 'Public Pixel', sans-serif;
}

.menu {
    display: flex;
    justify-content: flex-end;
    list-style: none; 
}

.menu li {
    transform: translateX(500%);
    animation: fadeInUp ease 1s forwards 1.2s;
    opacity: 0;
    display: inline-block;
    margin-right: 10px;
}


@keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  #welcome {
    font-size: 50px;
  }




  ul {
    list-style: none;
}

ul li {
    margin-bottom: 15px;
}
form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
}

form p {
    margin: 10px 0;
}

input {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #000; /* Solid black border for 8-bit style */
    box-sizing: border-box;
    font-family: 'PixelatedFont', sans-serif; /* Pixelated font */
    box-shadow: inset -4px -4px 0px 0px #41cdac; /* Pixel shadow effect */
}

input[type=submit] {
    width: 100%;
    background-color: #41cdac; /* Green background */
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-family: 'PixelatedFont', sans-serif; /* Pixelated font */
    box-shadow: inset -4px -4px 0px 0px #41cdac; /* Pixel shadow effect */
}

input[type=submit]:hover {
    background-color: #76c442; /* Slightly different green on hover */
    box-shadow: inset -6px -6px 0px 0px #41cdac; /* Increased shadow on hover */
}

button {
    width: 20%;
    background-color: #41cdac; /* Green background */
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-family: 'PixelatedFont', sans-serif; /* Pixelated font */
    box-shadow: inset -4px -4px 0px 0px #41cdac; /* Pixel shadow effect */
}

button:hover {
    background-color: #76c442; /* Slightly different green on hover */
    box-shadow: inset -6px -6px 0px 0px #41cdac; /* Increased shadow on hover */
}





.courseButtonContainer {
    /* display: flex; */
    justify-content: space-between;
    width: 100%;
}

.course-button {
    size: 100%;
    min-width: 50%;
}


.task-item {
    box-sizing: border-box; 
    width: 100%; 
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(123,216,189); 
    padding: 15px;
    margin-bottom: 15px; 
    cursor: move;
}


.task-item:hover {
    transform: translateY(-3px); 
}
  

      

@media screen and (max-width: 600px) {
    .menu {
        flex-direction: column;
        align-items: flex-end;
    }

}

.pomo-container {
    text-align: center;
    margin-top: 50px;
}

#timerDisplay {
    font-size: 2em;
    margin: 20px 0;
}






input[type=date] {
    color: #CEDEE3; /* Text color */
    font-family: 'Public Pixel', sans-serif; /* Your custom font */
    border-radius: 4px; /* Rounded borders */
    padding: 8px; /* Padding inside the input */
    border: 1px solid #000; /* Solid border */
    box-shadow: inset -4px -4px 0px 0px #41cdac; /* Shadow effect */
}