*::-webkit-scrollbar {
    display: none;
  }

a:visited, a:link, a:active {
    text-decoration: none;
    color: rgb(206,214,243);
}
a:hover {
    color: rgb(145,252,220);
}
body {
    background-color: #222;
    color: rgb(206,214,243);
    font-family: 'Public Pixel', sans-serif; /* Pixelated font */
}

.menu {
    display: flex;
    justify-content: flex-end;
    list-style: none; 
}

.menu li {
    transform: translateX(500%);
    animation: fadeInUp ease 1s forwards 1.2s;
    opacity: 0;
    display: inline-block;
    margin-right: 10px;
}


@keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  #welcome {
    font-size: 50px;
  }

  ul {
    list-style: none;
}

ul li {
    margin-bottom: 15px;
}

form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
}

form p {
    margin: 10px 0;
    font-family: 'Public Pixel', sans-serif; 

}


input {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #000; /* Solid black border for 8-bit style */
    box-sizing: border-box;
    font-family: 'Public Pixel', sans-serif; 
    box-shadow: inset -4px -4px 0px 0px #41cdac; /* Pixel shadow effect */
}

input[type=submit] {
    font-family: 'Public Pixel', sans-serif;
    width: 100%;
    background-color: #41cdac; /* Green background */
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    box-shadow: inset -4px -4px 0px 0px #41cdac; /* Pixel shadow effect */
}

input[type=submit]:hover {
    background-color: #76c442; /* Slightly different green on hover */
    box-shadow: inset -6px -6px 0px 0px #41cdac; /* Increased shadow on hover */
    transform: translateY(-3px); /* Slight lift effect on hover */
}

input[type="text"]::placeholder {
    font-family: 'Public Pixel', sans-serif; 
    opacity: 1;
}

button {
    width: 20%;
    background-color: #41cdac; /* Green background */
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-family: 'Public Pixel', sans-serif; 
    box-shadow: inset -4px -4px 0px 0px #41cdac; /* Pixel shadow effect */
}

button:hover {
    background-color: #76c442; /* Slightly different green on hover */
    box-shadow: inset -6px -6px 0px 0px #41cdac; /* Increased shadow on hover */
    transform: translateY(-3px); /* Slight lift effect on hover */
}


.quote-container {
    font-size: 12px;
    border-color: #41cdac;
}


.courseButtonContainer {
    display: flex;
    justify-content: space-around; /* Adjusted for even spacing */
    width: 100%;
    margin-top: 10px; /* Add some space above the button container */
}

.courseButtonContainer button {
    background-color: #41cdac; /* Green background */
    padding: 12px 15px; /* Increase padding for better touch */
    margin: 5px; /* Add margin around buttons */
    border: none;
    cursor: pointer;
    font-family: 'Public Pixel', sans-serif;
    box-shadow: inset -4px -4px 0px 0px #41cdac;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    text-transform: uppercase; /* Make text uppercase for style */
    font-size: 1em; 
    width: 45%; 
}

.courseButtonContainer button:hover {
    background-color: #76c442; /* Slightly different green on hover */
    box-shadow: inset -6px -6px 0px 0px #41cdac; /* Increased shadow on hover */
    transform: translateY(-3px); /* Slight lift effect on hover */
}


.task-item {
    box-sizing: border-box; 
    width: 100%; 
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(123,216,189); 
    padding: 15px;
    margin-bottom: 15px; 
    cursor: move;
}


.task-item:hover {
    transform: translateY(-3px); 
}
  
.task-actions .action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-form {
    display: flex;
    margin: 0;
    align-items: center;
}

.task-button {
    background-color: #41cdac; /* Green background */
    padding: 8px 12px;
    margin-left: 5px;
    border: none;
    cursor: pointer;
    font-family: 'Public Pixel', sans-serif;
    box-shadow: inset -4px -4px 0px 0px #41cdac;
    transition: background-color 0.3s, box-shadow 0.3s;
    width: 100%;
}

.task-button.delete {
    background-color: #ff6347; /* Red background for delete button */
}

.task-button:hover {
    background-color: #76c442; /* Change on hover */
    box-shadow: inset -6px -6px 0px 0px #41cdac;
}

.task-select {
    padding: 8px;
    border: 1px solid #000;
    box-shadow: inset -4px -4px 0px 0px #41cdac;
    font-family: 'Public Pixel', sans-serif;
    background-color: white;
    color: black;
}




@media screen and (max-width: 600px) {
    .menu {
        flex-direction: column;
        align-items: flex-end;
    }

}

.pomo-container {
    text-align: center;
    margin-top: 50px;
}

#timerDisplay {
    font-size: 2em;
    margin: 20px 0;
}


input[type=date] {
    color: #CEDEE3; /* Text color */
    font-family: 'Public Pixel', sans-serif; /* Your custom font */
    border-radius: 4px; /* Rounded borders */
    padding: 8px; /* Padding inside the input */
    border: 1px solid #000; /* Solid border */
    box-shadow: inset -4px -4px 0px 0px #41cdac; /* Shadow effect */
}